<div id="ttl_modal" class="ttl_modal" style="display: none">
    <div class="info_icon_wrapper">
        <span class="info_icon"></span>
    </div>
    <div class="content" >
        <p>Your title is getting very long - we suggest you narrowing it down to 100 characters to keep it simple and focused. Document titles get truncated in most representations except the document view</p>
    </div>
</div>
