<div id="ep_title_limit_ttl_modal" class="ep_title_limit_ttl_modal popup" style="display: none">
    <div class="popup-content">
        <div class="info_icon_wrapper">
            <span class="info_icon"></span>
        </div>
        <div class="content" >
            <p data-l10n-id="ep_title_limit.info">Your title is getting very long - we suggest you narrowing it down to 100 characters to keep it simple and focused. Document titles get truncated in most representations except the document view</p>
        </div>
    </div>
</div>
